# note that there are .gitignore files in subdirectories specific to those subdirectories

/includes/configure.php
/admin/includes/configure.php

/vendor

*.php1
*.bak
*.old
devtools.php
Thumbs.db
clover.xml
