.centerBoxHeading{background:none;border-bottom:1px solid #d6cec6;width:90%;margin:0 auto;font-size:21px;font-weight:400;padding-bottom:11px;color:#51c1f5;text-shadow:none;margin-top:0px;}
.centerBoxWrapper {display:none;}
#navBreadCrumb{display:none}